body {
    font-size: 13px;
    padding-top: 10px;
}
#taskboard { /* prevent text selection because it looks bad */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#taskDetails {
    margin-top: 1em;
}
input.full-width {
    width: 100%; 
    padding: 2px;
    margin-bottom: 0.5em;
}
.col-md-2 { /* Bootstrap Grid System */
    padding-left: 5px;
    padding-right: 5px;
}
.row.toolbar { /* .row is Bootstrap Grid System */
    margin-bottom: 10px;
}
.panel-title { /* Bootstrap Panel */
    color: #DDD;
    cursor: default;
    font-weight: 700;
    display: inline;
    font-size: inherit;
    xxx-text-transform: uppercase;
}
.panel-heading { /* Bootstrap Panel */
    position: relative;
    padding: 10px;
}
.panel-heading .glyph-link { /* .panel-heading is Bootstrap Panel */
    float: right;
    padding-left: 10px;
}
.panel-heading .glyph-link-move {
    float: left;
    padding-left: 0;
    padding-right: 5px;
}
.panel-body { /* Bootstrap Panel */
    padding: 5px;
}
.list-group { /* Bootstrap List Group */
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 1.5em;
}
.list-group-item { /* Bootstrap List Group */
    color: #0CE3AC;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}
.item-handle {
    vertical-align: top;
    margin-top: 2px;
    margin-right: 3px;
}
.task-info {
    display: inline-block;
    width: 16em;
    word-wrap: break-word;
}
.delete-task {
    position: absolute; 
    right: 6px;
}
.category-item {
    background-color: #222 !important;
}
.sortable-ghost { /* used by sortable.js */
    background-color: #375A7F;
    opacity: 0.5;
}
.hidden {
    display: none;
}